.moviePoster {
  width: 220px;
  margin: 0 auto;
}

@media screen and (min-width: 600px) {
  .detailsWrapper {
    display: flex;
  }

  .moviePoster {
    margin-right: 10px;
  }
}

.title {
  margin-top: 0.1em;
  font-size: 24px;
}

.detailsItemName {
  margin-top: 24px;
  font-size: 16px;
}
