.additionalInfoMenu {
  padding: 20px;
  margin: 10px 0;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.65);
}

.additionalInfoMenuTitle {
  margin: 0 0 10px;
}

.link,
.link:visited {
  margin-left: 10px;
  text-decoration: none;
  color: inherit;
}

.link:hover,
.link:focus {
  color: #ac0404;
}

.backBtn {
  margin: 15px 0 10px;
  border: 1px solid #a3a1a1;
  border-radius: 5px;
  cursor: pointer;
}

.backBtn:hover,
.backBtn:focus {
  box-shadow: 0px 2px 4px 0px rgb(0 0 0 / 65%);
}
